---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.tsx';
import Problems from '../components/Problems.tsx';
import FAQ from '../components/FAQ.tsx';
import Footer from '../components/Footer.tsx';
import MainFeatures from '../components/MainFeatures.tsx';
import CTA from '../components/CTA.tsx';
import Comparison from '../components/Comparison.tsx';
import Stats from '../components/Stats.tsx';
import Process from '../components/Process.tsx';
import Logos from '../components/Logos.tsx';
import PS from '../components/PS.tsx';
import TechStack from '../components/TechStack.tsx';
import {Image} from 'astro:assets';
import computer from '../assets/computer.jpg';
import Testimonials from '../components/Testimonials.tsx';
---

<Layout title="Welcome to Astro.">
    <main>
        <Hero client:load/>
        <MainFeatures/>
        <Problems>
            <!-- TODO: Image component so konfigurieren, dass für jede Bildschirmgröße passendes Format gewählt wird -->
            <Image src={computer} alt="computer"/>
        </Problems>
        <Process client:load/>
        <TechStack/>
        <Stats/>
        <Testimonials/>
        <Logos/>
        <Comparison/>
        <CTA/>
        <FAQ client:load/>
        <PS/>
        <Footer/>
    </main>
</Layout>